$background-color: #eff2f7;

$primary-color: #4898df;
$primary-color-contrast: #ffffff;

$alt-color: #ff783a;
$alt-color-contrast: #ffffff;

$surface-border: #dee2e6;

$text-color: #556674;
$text-color-secondary: #768794;
$text-color-light: #a4b1bb;

$download-color: #37d9e3;
$upload-color: #ba46f0;

$white-color: white;

$dark-shadow-color-1: #030e1758;
$light-shadow-color-1: #05111b1d;
$dark-shadow-color-2: #e738552e;
$light-shadow-color-2: #e7385514;

$card-shadow: 0px 0.1rem 0.5rem 0px rgba(0, 0, 0, 0.1),
	0px 0px 1px 0px rgba(0, 0, 0, 0.2);
