<div
        (click)="openFileSelector()"
        (mouseenter)="editAvatarShow = editable ? true : false"
        (mouseleave)="editAvatarShow = false"

>
    <p-avatar
            [label]="letter"
            [shape]="shape"
            [size]="size"
            [style.display]="'flex'"
            styleClass="avatar-overflow"
    >
        <div
                *ngIf="this.imageStyle !== ''"
                [style.backgroundImage]="this.imageStyle"
                class="image"
        ></div>
        <div *ngIf="editAvatarShow" @fade class="change-button">
            <i class="pi pi-folder-open"></i>
        </div>
    </p-avatar>
</div>
