<div class="content-wrapper">
    <div *ngIf="isMobile" class="result-mobile">
        <ng-component *ngTemplateOutlet="resultTemplate"></ng-component>
    </div>
    <p-card *ngIf="!isMobile" class="result-desktop">
        <ng-template pTemplate="header">
            <div class="header">
                <img alt="" src="../../../../assets/icons/gauge-dark.svg"/>
                Тестирование
            </div>
        </ng-template>
        <ng-component *ngTemplateOutlet="resultTemplate"></ng-component>
    </p-card>
</div>

<ng-template #resultTemplate>
    <div class="wrapper-result-panels">
        <app-speed-result-values-panel
                @flow
                [isPro]="service.isProMode"
                [loss]="downloadLoss"
                [speed]="downloadSpeed"
                [stability]="downloadStability"
                testType="download"
        ></app-speed-result-values-panel>
        <app-speed-result-values-panel
                @flow
                [isPro]="service.isProMode"
                [loss]="uploadLoss"
                [speed]="uploadSpeed"
                [stability]="uploadStability"
                testType="upload"
        ></app-speed-result-values-panel>
    </div>
    <div class="wrapper-ping-result-panel">
        <app-ping-result-values-panel
                @flow
                [isPro]="service.isProMode"
                [jitter]="jitter"
                [ping]="ping"
        ></app-ping-result-values-panel>
    </div>
    <div class="wrapper-testing-chart">
        <app-speed-chart
                [chartData]="chart"
                [fill]="['#37d9e3', '#ba46f0']"
                [stroke]="['#37d9e3', '#ba46f0']"
        ></app-speed-chart>
    </div>
    <div class="wrapper-current-test-panel">
        <app-speed-indicator
                *ngIf="service.testStage !== 5"
                @fade
                [speed]="indicatorSpeed"
                [testType]="testType"
        ></app-speed-indicator>
    </div>
</ng-template>
