<div class="content-wrapper">
    <p-card>
        <ng-template pTemplate="header">
            <div><i class="pi pi-mobile"></i> Устройства</div>
        </ng-template>
        <p-table
                (onLazyLoad)="pageLoader.limitUpdate($event)"
                (onRowSelect)="openLastMeasure($event)"
                [(first)]="pageLoader.first"
                [(selection)]="selectedMeasure"
                [lazy]="true"
                [loading]="pageLoader.loading"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 25, 50]"
                [rows]="pageLoader.rows"
                [showCurrentPageReport]="true"
                [totalRecords]="pageLoader.totalElements"
                [value]="pageLoader.elements"
                currentPageReportTemplate="Показано с {first} по {last} из {totalRecords} устройств"
                dataKey="deviceId"
                responsiveLayout="stack"
                selectionMode="single"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Тип</th>
                    <th>ID Устройства</th>
                    <th>IP Адрес</th>
                    <th>Hostname</th>
                    <th>Система</th>
                    <th>Платформа</th>
                    <th>Сред. скачивание</th>
                    <th>Сред. загрузка</th>
                    <th>Кол. замеров</th>
                    <th>Режим pro <i class="pi pi-question-circle"
                                     pTooltip="Позволяет пользователю видеть более детальную информацию во время замера."></i>
                    </th>
                </tr>
            </ng-template>
            <ng-template let-device pTemplate="body">
                <tr [pSelectableRow]="device">
                    <td><img [src]="device.isMobile | deviceType" alt="" srcset=""/></td>
                    <td [pTooltip]="device.deviceId" class="device-id-cell">{{ device.deviceId }}</td>
                    <td>{{ device.ip }}</td>
                    <td>{{ device.hostname }}</td>
                    <td>{{ device.system }}</td>
                    <td>{{ device.platform }}</td>
                    <td>{{ device.measures | avgOfField:"downloadSpeed" }}</td>
                    <td>{{ device.measures | avgOfField: "uploadSpeed" }}</td>
                    <td>{{ device.measures | arrayLength }}</td>
                    <td>
                        <p-inputSwitch (ngModelChange)="setDeviceMode(device.deviceId,$event)"
                                       [(ngModel)]="device.isPro"
                                       appStopPropagation></p-inputSwitch>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
    <p-card>
        <ng-template pTemplate="header">
            <div><i class="pi pi-search"></i> Поиск</div>
        </ng-template>
        <div class="search-fields-container">
            <input
                    (ngModelChange)="pageLoader.update($event,'deviceId')"
                    [(ngModel)]="pageLoader.param()['deviceId']"
                    class="p-inputtext-sm"
                    pInputText
                    placeholder="ID Устройства"
                    type="text"
            />
            <input
                    (ngModelChange)="pageLoader.update($event,'login')"
                    [(ngModel)]="pageLoader.param()['login']"
                    class="p-inputtext-sm"
                    pInputText
                    placeholder="Логин"
                    type="text"
            />
            <p-dropdown
                    (ngModelChange)="pageLoader.update($event,'address')"
                    [(ngModel)]="pageLoader.param()['address']"
                    [filter]="true"
                    [options]="houseList"
                    [showClear]="true"
                    class="p-inputtext-sm"
                    filterBy="address"
                    optionLabel="address"
                    optionValue="houseId"
                    placeholder="Адрес"
            ></p-dropdown>
            <input
                    (ngModelChange)="pageLoader.update($event,'ip')"
                    [(ngModel)]="pageLoader.param()['ip']"
                    [pKeyFilter]="ipInputFilter"
                    class="p-inputtext-sm"
                    pInputText
                    placeholder="IP Адрес"
                    type="text"
            />
            <input
                    (ngModelChange)="pageLoader.update($event,'hostname')"
                    [(ngModel)]="pageLoader.param()['hostname']"
                    class="p-inputtext-sm"
                    pInputText
                    placeholder="Hostname"
                    type="text"
            />

            <button
                    (click)="pageLoader.filterClean()"
                    class="p-button-sm"
                    icon="pi pi-filter-slash"
                    label="Сбросить"
                    pButton
            ></button>
        </div>
    </p-card>
</div>
