@import "../../../styles/variables.scss";

:host {
  flex-grow: 1;
}

.header {
  font-size: 1.1rem;
  font-weight: 500;
  color: $text-color;
  padding: 1.1rem 1.3rem 0 1.3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.3em;

  span {
    width: max-content;
  }

  .empty {
    flex: 1;
  }

  .timestamp {
    font-size: 0.8rem;
    color: $text-color-secondary;
  }
}

.content-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 550px;
  grid-template-rows: 1fr min-content;
  justify-content: center;
  align-items: center;
}

.result-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex: 1;
}

.controls-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.speed-result-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.mobile-content {
  display: grid;
  gap: 3rem;
  justify-items: center;
  background-color: $white-color;
  padding: 3rem 1rem;
}

.rating-panel {
  display: grid;
  gap: 1rem;
  justify-items: center;
  height: 7.875rem;

  .rating-label {
    color: $text-color-secondary;
    font-size: 1.6rem;
    font-weight: 500;
    grid-area: 1/1/2/2;

    i {
      font-size: 1.8rem;
    }
  }

  .rating-input {
    grid-area: 2/1/3/2;
  }

  .rating-button {
    grid-area: 3/1/4/2;
  }

  .congratulation {
    align-self: center;
    color: $primary-color;
    font-size: 3rem;
    font-weight: 300;
    display: none;
    opacity: 0;
    grid-area: 1/1/4/2;
  }
}

@media (max-width: 768px) {
  .card-content {
    flex-direction: column;
  }
  .content-wrapper {
    grid-template-columns: 100%;
  }
}

@media (min-width: 769px) {
  .card-content {
    flex-direction: column;
  }
  .content-wrapper {
    padding: 1rem;
    grid-template-columns: 750px;
  }
}
