<p-card [ngStyle]="{height: '100%'}">
    <ng-template pTemplate="header">
        <div style="width: max-content">
            {{ title }}
        </div>
    </ng-template>
    <div class="content">
        <div class="value">
			<span>
				{{ firstValue }}
			</span>
            <span class="suffix">
				{{ firstSuffix }}
			</span>
        </div>
        <div class="value">
			<span>
				{{ secondValue }}
			</span>
            <span class="suffix">
				{{ secondSuffix }}
			</span>
        </div>
    </div>
</p-card>
