@import "../../../styles/variables.scss";

.wrapper {
  display: grid;
  grid: auto-flow min-content / max-content;
  justify-items: center;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;

  .title-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    img {
      height: 1.2rem;
    }

    .title {
      font-size: 1.2rem;
      color: $text-color;
    }

    .sub-title {
      font-size: 0.7rem;
      font-weight: 500;
      color: $text-color-light;
      place-self: baseline;
    }
  }

  .speed {
    font-size: 2.3rem;
    color: $text-color;
  }

  .stability {
    padding-top: 0.5rem;
    font-size: .8rem;
    color: $primary-color;

    span {
      font-size: .8rem;
      color: $text-color-secondary;
      margin: 0.2rem;
    }
  }

  .loss {
    padding-top: 0.5rem;
    font-size: .8rem;
    color: $primary-color;

    span {
      font-size: .8rem;
      color: $text-color-secondary;
      margin: 0.2rem;
    }
  }
}

.tested {
  opacity: 1;
}
