<div class="content-wrapper">
    <p-card>
        <ng-template pTemplate="header">
            <div><i class="pi pi-list"></i> Замеры</div>
        </ng-template>
        <p-table
            #measureTable
            (onLazyLoad)="pageLoader.limitUpdate($event)"
            (onRowSelect)="selectMeasure($event)"
            [(first)]="pageLoader.param()['offset']"
            [(selection)]="selectedMeasure"
            [lazy]="true"
            [loading]="pageLoader.loading"
            [paginator]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [rows]="pageLoader.param()['limit']"
            [showCurrentPageReport]="true"
            [totalRecords]="pageLoader.totalElements"
            [value]="pageLoader.elements"
            currentPageReportTemplate="Показано с {first} по {last} из {totalRecords} замеров"
            dataKey="measureId"
            responsiveLayout="scroll"
            selectionMode="single"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Соед.</th>
                    <th>Дата замера</th>
                    <th>Логин</th>
                    <th>Адрес</th>
                    <th>IP Адрес</th>
                    <th>MAC Адрес</th>
                    <th>Скачивание</th>
                    <th>Загрузка</th>
                </tr>
            </ng-template>
            <ng-template let-measure pTemplate="body">
                <tr @fade [ngClass]="{ beginning: measure.isStarted }" [pSelectableRow]="measure">
                    <td>
                        <img [src]="measure.connectionType | connectionType" alt=""/>
                    </td>
                    <td>{{ measure.created | date: "dd-MM-yyyy HH:mm:ss" }}</td>
                    <td>{{ measure.session?.login }}</td>
                    <td>{{ measure.session?.house?.address }}</td>
                    <td>{{ measure.session?.ip }}</td>
                    <td>{{ measure.session?.mac }}</td>
                    <td>{{ measure.downloadSpeed | number: "1.3" }}</td>
                    <td>{{ measure.uploadSpeed | number: "1.3" }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
    <p-card>
        <ng-template pTemplate="header">
            <div><i class="pi pi-search"></i> Поиск</div>
        </ng-template>
        <div class="search-fields-container">
            <p-calendar
                    (ngModelChange)="pageLoader.update($event,'created')"
                    [(ngModel)]="pageLoader.param()['created']"
                    [readonlyInput]="true"
                    [showClear]="true"
                    class="p-inputtext-sm"
                    dateFormat="dd-mm-yy"
                    placeholder="Дата замера"
                    selectionMode="range"
            ></p-calendar>
            <input
                    (ngModelChange)="pageLoader.update($event,'login')"
                    [(ngModel)]="pageLoader.param()['login']"
                    class="p-inputtext-sm"
                    pInputText
                    placeholder="Логин"
                    type="text"
            />
            <p-dropdown
                    (ngModelChange)="pageLoader.update($event,'address')"
                    [(ngModel)]="pageLoader.param()['address']"
                    [filter]="true"
                    [options]="houseList"
                    [showClear]="true"
                    class="p-inputtext-sm"
                    filterBy="address"
                    optionLabel="address"
                    optionValue="houseId"
                    placeholder="Адрес"
            >
            </p-dropdown>
            <input
                    (ngModelChange)="pageLoader.update($event,'ip' )"
                    [(ngModel)]="pageLoader.param()['ip']"
                    [pKeyFilter]="ipInputFilter"
                    class="p-inputtext-sm"
                    pInputText
                    placeholder="IP Адрес"
                    type="text"
            />
            <input
                    (ngModelChange)="pageLoader.update($event,'mac')"
                    [(ngModel)]="pageLoader.param()['mac']"
                    [pKeyFilter]="macInputFilter"
                    class="p-inputtext-sm"
                    id="float-input"
                    pInputText
                    placeholder="MAC Адрес"
                    type="text"
            />
            <button
                    (click)="pageLoader.filterClean()"
                    class="p-button-sm"
                    icon="pi pi-filter-slash"
                    label="Сбросить"
                    pButton
            ></button>
        </div>
    </p-card>
</div>
