<div *ngIf="isMobile" class="content-wrapper">
    <ng-container *ngTemplateOutlet="mainInfo"></ng-container>
    <div>
        <div class="info-title"><i class="pi pi-sort-alt"></i> Ping</div>
        <ng-container *ngTemplateOutlet="pingInfo"></ng-container>
    </div>
    <div>
        <div class="info-title"><i class="pi pi-download"></i> Скачивание</div>
        <ng-container *ngTemplateOutlet="downInfo"></ng-container>
    </div>
    <div>
        <div class="info-title"><i class="pi pi-upload"></i> Загрузка</div>
        <ng-container *ngTemplateOutlet="upInfo"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="charts"></ng-container>
</div>

<div *ngIf="!isMobile" class="content-wrapper">
    <p-card>
        <ng-template pTemplate="header">
            <div><i class="pi pi-info-circle"></i> Основная информация</div>
        </ng-template>
        <ng-container *ngTemplateOutlet="mainInfo"></ng-container>
    </p-card>
    <div class="measured-values-wrapper">
        <p-card>
            <ng-template pTemplate="header">
                <div><i class="pi pi-sort-alt"></i> Ping</div>
            </ng-template>
            <ng-container *ngTemplateOutlet="pingInfo"></ng-container>
        </p-card>
        <p-card>
            <ng-template pTemplate="header">
                <div><i class="pi pi-download"></i> Скачивание</div>
            </ng-template>
            <ng-container *ngTemplateOutlet="downInfo"></ng-container>
        </p-card>
        <p-card>
            <ng-template pTemplate="header">
                <div><i class="pi pi-upload"></i> Загрузка</div>
            </ng-template>
            <ng-container *ngTemplateOutlet="upInfo"></ng-container>
        </p-card>
    </div>
    <p-card>
        <ng-template pTemplate="header">
            <div><i class="pi pi-chart-bar"></i> Графики</div>
        </ng-template>
        <ng-container *ngTemplateOutlet="charts"></ng-container>
    </p-card>
</div>

<ng-template #mainInfo>
    <div class="main-measure-info-panel">
        <div class="measure-desc-row">
            <span class="label">ID устройства</span>
            <span class="value">{{ currentMeasure?.device?.deviceId }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Логин</span>
            <span class="value">{{ currentMeasure?.session?.login }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Дата измерения</span>
            <span class="value">{{
                currentMeasure?.created | date: "dd-MM-yyyy HH:mm:ss"
                }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">IP Адрес</span>
            <span class="value">{{ currentMeasure?.session?.ip }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Vlan</span>
            <span class="value">{{ currentMeasure?.session?.house?.vlan }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">MAC Адрес</span>
            <span class="value">{{ currentMeasure?.session?.mac }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Адрес</span>
            <span class="value">{{ currentMeasure?.session?.house?.address }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Имя хоста</span>
            <span class="value">{{ currentMeasure?.device?.hostname }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Платформа</span>
            <span class="value">{{ currentMeasure?.device?.platform }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Операционная система</span>
            <span class="value">{{ currentMeasure?.device?.system }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Агент</span>
            <span class="value">{{ currentMeasure?.device?.userAgent }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Тип устройства</span>
            <span class="value">{{ currentMeasure?.device?.isMobile ? 'Мобильное' : 'Стационарное' }}</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Тип подключения</span>
            <span class="value">{{ currentMeasure?.connectionType }}</span>
        </div>
        <div [@anotherMeasureExtend]="anotherMeasureExtend" class="extend">
            <div (click)="changeExtend()" class="extend-label">
                Другие замеры пользователя
            </div>
            <app-lazy-list [itemRef]="itemTemp" [itemSize]="135" [loadingRef]="loadingTemp" [service]="anotherLoader"
                           scrollHeight="300px"></app-lazy-list>
        </div>
    </div>
</ng-template>

<ng-template #pingInfo>
    <div class="main-measure-info-panel">
        <div class="main-value">
            {{ currentMeasure?.ping | number: "1.3" }} мс
        </div>
        <div class="measure-desc-row">
            <span class="label">Jitter</span>
            <span class="value">
						{{ currentMeasure?.pingJitter | number: "1.3" }} мс
					</span>
        </div>
    </div>
</ng-template>

<ng-template #downInfo>
    <div class="main-measure-info-panel">
        <div class="main-value">
            {{ currentMeasure?.downloadSpeed | number: "1.3" }} Мбит/с
        </div>
        <div class="measure-desc-row">
            <span class="label">Стабильность</span>
            <span class="value">
						{{ currentMeasure?.downloadStability | number: "1.3" }} %
					</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Потери</span>
            <span class="value">
						{{ currentMeasure?.downloadLoss | number: "1.3" }} %
					</span>
        </div>
    </div>
</ng-template>

<ng-template #upInfo>
    <div class="main-measure-info-panel">
        <div class="main-value">
            {{ currentMeasure?.uploadSpeed | number: "1.3" }} Мбит/с
        </div>
        <div class="measure-desc-row">
            <span class="label">Стабильность</span>
            <span class="value">
						{{ currentMeasure?.uploadStability | number: "1.3" }} %
					</span>
        </div>
        <div class="measure-desc-row">
            <span class="label">Потери</span>
            <span class="value">
						{{ currentMeasure?.uploadLoss | number: "1.3" }} %
					</span>
        </div>
    </div>
</ng-template>

<ng-template #charts>
    <p-chart [data]="{datasets:[downloadDataset,uploadDataset]}" [height]="isMobile ? '100%' : '30rem'"
             [options]="chartOptions"
             [responsive]="true"
             type="line"></p-chart>
</ng-template>

<ng-template #itemTemp let-measure>
    <div (click)="selectMeasure(measure)"
         [ngClass]="{'highlight-current-measure':measure.measureId===currentMeasure?.measureId}"
         class="measure-item primary-ripple"
         pRipple>
        <div class="created">{{ measure.created | date: "dd-MM-yyyy HH:mm:ss" }}</div>
        <div class="login">{{measure.session?.login}}</div>
        <div class="address">{{measure.session?.house?.address}}</div>
        <div class="session-info">
            <img [src]="measure.connectionType | connectionType" alt="" class="connection-type"/>
            <div class="im">
                <div class="ip">{{measure.session?.ip}}</div>
                <div class="mac">{{measure.session?.mac}}</div>
            </div>
        </div>
        <div class="measurement-info">
            <div class="download">Скачивание {{measure.downloadSpeed | number:"1.3"}} Мбит/с</div>
            <div class="upload">Загрузка {{measure.uploadSpeed | number:"1.3"}} Мбит/с</div>
        </div>
    </div>
</ng-template>

<ng-template #loadingTemp>
    <div class="measure-item">
        <p-skeleton class="created" width="10rem"></p-skeleton>
        <p-skeleton class="login" width="8rem"></p-skeleton>
        <p-skeleton class="address" width="13rem"></p-skeleton>
        <div class="session-info">
            <p-skeleton height="2rem" shape="circle" width="2rem"></p-skeleton>
            <div class="im">
                <p-skeleton class="ip" width="12rem"></p-skeleton>
                <p-skeleton class="mac" width="15rem"></p-skeleton>
            </div>
        </div>
        <div class="measurement-info">
            <p-skeleton class="download" width="15rem"></p-skeleton>
            <p-skeleton class="upload" width="12rem"></p-skeleton>
        </div>
    </div>
</ng-template>
