<div class="wrapper">
    <div class="wrapper-indicator">
        <div #indicator [@testType]="testType" class="indicator"></div>
    </div>
    <div [ngSwitch]="this.service.testStage" class="current-test-title">
        <span *ngSwitchDefault>Подключение</span>
        <span *ngSwitchCase="3">
			<img alt="" src="../../../../assets/icons/download.svg"/>
			Скачивание
		</span>
        <span *ngSwitchCase="4">
			<img alt="" src="../../../../assets/icons/upload.svg"/>
			Загрузка
		</span>
    </div>
    <div class="wrapper-values">
        <span class="speed-value">{{ value }}</span>
        <span class="unit">Мбит/с</span>
    </div>
</div>
