<div class="wrapper">
	<div class="wrapper-indicator">
		<div class="indicator" [@testType]="testType" #indicator></div>
	</div>
	<div class="current-test-title" [ngSwitch]="this.service.testStage">
		<span *ngSwitchCase="2">Подключение</span>
		<span *ngSwitchCase="3">
			<img src="../../../../assets/icons/download.svg" alt="" />
			Скачивание
		</span>
		<span *ngSwitchCase="4">
			<img src="../../../../assets/icons/upload.svg" alt="" />
			Загрузка
		</span>
	</div>
	<div class="wrapper-values">
		<span class="speed-value">{{ value }}</span>
		<span class="unit">Мбит/с</span>
	</div>
</div>
